<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'CSS/styles.css'%}">
    </head>
    <body style="background-color: papayawhip;">
        <nav>
            <a href="/">
                <button>INICIO</button>
            </a>
            <img src="{% static 'img/logoNoFondo.png' %}" width="100">
        </nav>
        <header id="pagLogin">
            <section>
                <h4>Cuarto Entregable</h4>
                {% if categoria == "1" %}
                    <h1>AGUACATE</h1>
                {% elif categoria == "2" %}
                    <h1>TOMATE</h1>
                {%endif%}  
            </section>
        </header>
        <main id="pagCategorias">
            {% for i in arreglo %}
                {% if i.ID == 43 %}
                    <h1>{{i.nombre_prod}}</h1>
                    <img src="{% static '' %}{{i.img1_prod}}" alt="">
                    <h3>{{i.descripcion_prod}}</h3>
                {%endif%}
            {% endfor %}
        </main>
    </body>
</html>